# Ignore everything
*

# But don't ignore these files and directories
!app.py
!.gitignore
!static/
!static/**
!templates/
!templates/**

# Ignore certain files and directories even if they're in static or templates
**/__pycache__
**/.DS_Store
**/myenv
**/venv
**/instance
**/migrations
